{
  admin off
}
:80 {
  respond /health 200
  handle_path /hls/* {
    header Access-Control-Allow-Origin ""
    header Access-Control-Allow-Headers "origin,range,accept,referer,accept-encoding"
    header Access-Control-Expose-Headers "Content-Length,Content-Range"
    root * /hls
    file_server
  }
  @SentinelAI/apps/backend/venv/bin/fastapi path /api/*
  reverse_proxy @SentinelAI/apps/backend/venv/bin/fastapi backend:10000
  respond "Sentinel edge is up" 200
}